.ba-slider {
    position: relative;
}
.ba-slider img {
    position: absolute;
    width: 100%;
}
.ba-slider-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.ba-slider-before-image {
    z-index: 5;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.ba-control {
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 10;
    top: 0;
    overflow: hidden;
}
.ba-control-area {
    position:absolute;
    z-index:1;
    width:26px;
    height:100%;
    left:0;
    margin-left:-13px;
}
.ba-control-bar {
    width:4px;
    height: 100%;
    margin: 0 auto;
    background: #fff;
}
.ba-left-arrow, .ba-right-arrow, .ba-control-handle {
    top: 50%;
    position: absolute;
    display: none;
}
.ba-left-arrow, .ba-right-arrow {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin-top: -5px;
}
.ba-left-arrow {
    left: -4px;
    border-right: 5px solid #fff;
}
.ba-right-arrow {
    right: -4px;
    border-left: 5px solid #fff;
}
.ba-control-handle {
    height: 60px;
    width: 8px;
    margin: -30px 0 0 -4px;
    left: 50%;
    background-color: #f90;
    cursor: move;
}